body {

background-color: #ADD8E6;
}

h1{
	font-size:2rem;
	text-align: center;
	font-family:cursive;
}

li{
	font-size: 20px;
	font-family:fantasy ;
	text-align: center;
	list-style-type: none;

	
}


ul{
	
}


img{
	display: block;
	margin: auto;


}
article{
	margin:auto;
}



#navbar{
	margin:auto;
	 position:sticky; 
	 top:0px;
	 	text-align: center;
}