doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  <nav>
  <ul>
  <li><a href="/">INICIO</a> </li>
  <li><a href="/servicios">servicios</a> </li>
  <li><a href="contacto">contacto</a> </li>
  </ul>
  </nav>
  body
  
    block content
